export AWS_PROFILE=infra-admin

# Use apply app by default if USE_GITHUB_PLAN_APP is unset or anything other than "true".
# Set USE_GITHUB_PLAN_APP in your zshrc if to override this.
if [ "${USE_GITHUB_PLAN_APP}" = "true" ]; then
    export GITHUB_APP_ID="1923130"
    export GITHUB_APP_INSTALLATION_ID="85018802"
    export GITHUB_APP_PEM_FILE_PATH="$(pwd)/private/plan.pem"
else
    export GITHUB_APP_ID="1923054"
    export GITHUB_APP_INSTALLATION_ID="85018833"
    export GITHUB_APP_PEM_FILE_PATH="$(pwd)/private/apply.pem"
fi
